<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
    </style>


  </head>

  <body>
    <div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a href="https://github.com/Perchitti/rails-project-2" target="_blank" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ProjectBox Github</a>
    <a href="/signup" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Sign Up</a>

      </div>
    </div>

<h1> Store your current projects on ProjectBox </h1>


<%= form_for :user, url: '/login' do |f| %>
<%= f.label :name %>
    <%= f.text_field :name, :required => true %>

    <br><br>

    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>

    <br><br>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= f.submit 'Login' %>
<% end %>

<br>

<div class="btn white darken-4 col s10 m4">
     <a href="/auth/google_oauth2" style="text-transform:none">
             <img width="28px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
         Login with Google
     </a>
</div>


</body>
</html>
