<h1><%= "#{@user.name}'s Project Page" %></h1>
<ul>
<% @projects.each do |project| %>
  <li><%= display_user(project) %> - <%= link_to project.title, project_path(project) %>  |  <%= link_to 'Delete', project_path(project), method: :delete %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Project", new_project_path(@user) %>
<br>

<br>
<%= form_tag('/logout', method: :post) do %>
    <%= submit_tag 'Logout' %>
<% end %>
